# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Environment files
.env

# Logs & temp files
*.log
*.gz
*.tgz
.tmp
.cache

# Docker artifacts
Dockerfile*
.dockerignore

# Git
.git/
.gitignore

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
*.ipynb
.ipynb_checkpoints/
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
*.ipynb_checkpoints/*/*
*.ipynb_checkpoints/*/*/*

# VSCode settings
.vscode/

# Test, coverage, and cache
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/ 

# Other files to explicitly ignore
sip-participant.json
outbound-trunk.json
dispatch-rule.json
inbound-trunk.json
KMS/
README.md